@page "/"

<h1>Hello, world!</h1>


@if (Visible == true)
{
    <SampleComponent></SampleComponent>
}

<button @onclick="@Dispose">2. Dispose SampleComponent</button>
<ol>
    <li>
        Click SampleComponent Button.
        <i> We have a settimeout with 3 seconds delay to to invoke a dotnet method.</i>
    </li>
    <li>
        Dispose the SampleComponent via the "Dispose Sample Component" button
    </li>
    <li>
        Error: There is no tracked object with id '1'. Perhaps the DotNetObjectReference instance was already disposed. (Parameter 'dotNetObjectId')
    </li>
</ol>

@code {
    public bool Visible { get; set; } = true;

    public void Dispose()
    {
        Visible = false;
        StateHasChanged();
    }
}